.benefits {
  min-height: rem(668px);
  width: rem(300px);
  

  &__img {
    width: 50%;
    min-height: rem(66px);
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__title {
    margin: 8px 0 5px 0;
    color: #203538;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
  }

  &__desc {
    color: #596D7B;
    font-size: 14px;
    line-height: 18px;
  }
}

.benefits__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  min-height: rem(152px);
}

.benefits__icon {
  width: rem(72px);
  height: rem(70px);
}

.benefits__text {
  width: rem(186px);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 20px;
}