.footer {
  display: flex;
  flex-direction: column;
  width: 93%;
  margin: 0 auto;
  color:  #000000CC;
  font-size: 14px;
  background: #F6F6F6;;
  padding: rem(37px) 0 rem(62px) rem(33px);

  

  &__info {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    margin-bottom: rem(34px);
  }

  &__text {
    display: flex;
    align-items: center;
    padding-right: 35px;
    line-height: 18px;
    margin-top: 15px;
  }

  &__service {
    font-size: 14px;
    line-height: 17,6px;
  }

  &__email {
    color: #03A06C;
   text-decoration: none;
   font-weight: 600;
   font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  }
}