.news {
  display: flex;
  flex-direction: row;

  &__title {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    &-link {
      color: #03A06C;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &-container {
    background: #F7F7F7;
    padding: 23px 53px 23px 31px;
    margin-bottom: 40px;
    min-height: rem(402px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
    
    &-img {
      display: block;
      width: 353px;
      min-height: rem(150px);
      background-color:#DBDBDB;
      margin-bottom: 12px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
    }
    
    &-title {
      color: #203538;
      font-weight: bold;
      margin-bottom: 18px;
    }

    &-subtitle {
      color:  #203538 90%;
      font-size: 16px;
      padding-right: 13px;
    }
  }
}


.news__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: rem(35px);
  width: rem(35px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  box-sizing: border-box;


  &--left {
    left: 1.4%;
    top: 33%;
  }

  &--right {
      right: 2.1%;
      top: 33%;
  }

  &-ico {
    height:  rem(35px);
  }
}