.operator {
  min-width: rem(262px);

  &__title {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 17px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
  }

  &__subtitle {
    line-height: 20px;
  }
}